@using EnglishExam.ViewModels;
@using EnglishExam.Models;
@model IndexViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@if (Model != null)
{


    <form method="post" action="/Exam/Index">
        @foreach (var exam in Model.Exams)
        {
            <div>
                <tr>
                    <td>Başlık=<strong>@exam.Title</strong> </td>
                    <td>Tarih=<strong>@exam.Date.ToString()</strong></td>

                    @{ var db = new ContextDatabase();
                        var examId = db.Exam.SingleOrDefault(x => x.Title == exam.Title).Id;

                    }

                    <td>@Html.ActionLink("Sil", "Index", new { id = examId })</td>
                    <td>@Html.ActionLink("Title", "SolveExam", new { title = exam.Title })</td>

                </tr>
            </div>
        }
    </form>
}

else
{
    <div> <h1>Veritabanında kayıtlı herhangi bir sınav yok</h1></div>

}



