@using EnglishExam.ViewModels;
@using EnglishExam.Models;
@model IndexViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@if (Model != null)
{


<form method="post" action="/Exam/Index">
    <div class="col-12 ">    
        <tr>
            <td><strong>Başlık</strong></td>          
            <td><strong style="margin-left:300px;">Tarih</strong></td>
        </tr>
        </div>
        <hr class="my-6">
        @foreach (var exam in Model.Exams)
        {
            <div>
                <tr>                   
                    <td><strong>@exam.Title----------</strong> </td>
                    <td><strong>@exam.Date.ToString()</strong></td>

                    @{ var db = new ContextDatabase();
                        var examId = db.Exam.SingleOrDefault(x => x.Title == exam.Title).Id;

                    }


                    <td>@Html.ActionLink("Sil", "Delete", new { id = examId })</td>
                    <td>@Html.ActionLink("Sınavı Çöz", "SolveExam", new { title = exam.Title })</td>

                </tr>
            </div>
        }
</form>
}

else
{
    <div> <h1>Veritabanında kayıtlı herhangi bir sınav yok</h1></div>

}



