@using EnglishExam.ViewModels
@model ExamSubjectsViewModel
@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Konular</h1>
</div>

<div class="row g-5">
    <div class="col-md-12">


        <table class="table">
            <thead>
                <tr>
                    <th>Konu</th>
                    <th>Seçenekler</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var news in Model.News)
                    {
                        <tr>
                            <td>@news.Title</td>
                            <td><a href="/Exam/CreateExam?title=@news.Title" class="btn btn-success">Sınav Oluştur</a></td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

